.filter-heading {
    position: absolute;
    width: 86px;
    height: 28px;
    left: 100px;
    top: 117px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #011F4B;
}

.filter-sub-heading {
    position: absolute;
    width: 319px;
    height: 19px;
    left: 100px;
    top: 149px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #7E8299;
}

.project-button {
    position: absolute;
    width: 135px;
    height: 32px;
    left: 615px;
    top: 115px;
}

.gateway-button {
    position: absolute;
    width: 145px;
    height: 32px;
    left: 773px;
    top: 115px;

}

.generate-report-button {
    position: absolute;
    width: 118px;
    height: 32px;
    left: 1222px;
    top: 115px;
    border: none;
    background: #005B96;
    border-radius: 5px;
    color: #FFFFFF;
}

.generate-report-button>span {
    position: absolute;
    width: 98px;
    height: 16px;
    left: 1232px;
    top: 123px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
}

.from-date-button {
    position: absolute;
    width: 118px;
    height: 32px;
    left: 941px;
    top: 115px;
    background: #1BC5BD;
    border-radius: 5px;
    border: none;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}

.to-date-button {
    position: absolute;
    width: 118px;
    height: 32px;
    left: 1082px;
    top: 115px;
    background: #1BC5BD;
    border-radius: 5px;
    border: none;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}

.date-vector {
    position: absolute;
    left: 72.71%;
    right: 26.53%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.project-dialog {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    color:#ffffff;
    background: #1BC5BD;
    border-radius: 5px;
    border:none;
}