.single-entity-heading {
    width: 186px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #011F4B;
}

.single-entity-container{
    background: #F1FAFE;
    border-radius: 10px;
    width: 1241px;
    height: 100%;
    margin:auto;
}

tr:nth-child(odd) {
    background: #FFFFFF;
}

td{
    width: 86px;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 164.4%;
}


.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
background-color:#F1FAFE ;
}

.table{
    display: flex;
    flex-direction: column;
    text-align: center;
}