.single-entity-heading {
    width: 186px;
    height: 19px;
    left: 124px;
    top: 213px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #011F4B;
}

.single-entity-container{
position: absolute;
width: 1241px;
height: 251px;
left: 99px;
top: 195px;

background: #F1FAFE;
border-radius: 10px;
}


.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
background-color:#F1FAFE ;
}